@model IEnumerable<GoodFoodCore.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { slug = item.Slug }) |
                @Html.ActionLink("Details", "Details", new { slug = item.Slug }) |
                @Html.ActionLink("Delete", "Delete", new { slug = item.Slug })
            </td>
        </tr>
}
    </tbody>
</table>
